<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BassRolloff</key>
	<string>0</string>
	<key>BfCenterTrim</key>
	<real>0.0</real>
	<key>BfFrontExt</key>
	<real>0.0</real>
	<key>BfFrontLeftTrim</key>
	<real>0.0</real>
	<key>BfFrontRightTrim</key>
	<real>0.0</real>
	<key>BfPattern</key>
	<real>0.5</real>
	<key>BfRearExt</key>
	<real>0.0</real>
	<key>BfRearLeftTrim</key>
	<real>0.0</real>
	<key>BfRearRightTrim</key>
	<real>0.0</real>
	<key>BfRearTrim</key>
	<real>0.0</real>
	<key>BfRotate</key>
	<real>0.0</real>
	<key>BfTilt</key>
	<real>0.0</real>
	<key>BfZoom</key>
	<real>0.5</real>
	<key>ConvolutionDone</key>
	<string>YES</string>
	<key>EditPerformed</key>
	<string>YES</string>
	<key>EditorSelectionStart</key>
	<string>0</string>
	<key>EditorSelectionStop</key>
	<string>0</string>
	<key>FixNormValue</key>
	<string>55.863155</string>
	<key>HarmonicMode</key>
	<false/>
	<key>InputChannel0</key>
	<string>0</string>
	<key>InputChannel1</key>
	<string>0</string>
	<key>InputIDMenuItems</key>
	<array>
		<string>L</string>
		<string>R</string>
	</array>
	<key>InputID_Menu0</key>
	<string>L</string>
	<key>InputID_Menu1</key>
	<string>R</string>
	<key>InputRecEnable0</key>
	<string>0</string>
	<key>InputRecEnable1</key>
	<string>0</string>
	<key>InputSafe0</key>
	<string>1</string>
	<key>InputSafe1</key>
	<string>1</string>
	<key>LogSweep</key>
	<string>1</string>
	<key>NumberOfTracks</key>
	<string>2</string>
	<key>OutputChannel</key>
	<string>1</string>
	<key>OutputLevel</key>
	<string>-12.000000</string>
	<key>PlaybackChannel</key>
	<string>1 - 2</string>
	<key>PlaybackLevel</key>
	<string>-12.000000</string>
	<key>PreRoll</key>
	<string>0</string>
	<key>ReverbTime</key>
	<string>4.000000</string>
	<key>Samplerate</key>
	<string>44100</string>
	<key>SourceDescription</key>
	<string>Location: n/a 
Loudspeaker: n/a 
Angle: n/a 
Azimuth: n/a 
SPL: n/a</string>
	<key>SourceIDMenuItems</key>
	<array>
		<string>O</string>
	</array>
	<key>SourceID_Menu0</key>
	<string>O</string>
	<key>SourceID_Menu1</key>
	<string>O</string>
	<key>SweepLength</key>
	<string>10.000000</string>
	<key>TrebleRolloff</key>
	<string>0</string>
</dict>
</plist>
